
#headers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

#questions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 10px;
}

/*.grid{*/
/*    margin: 10px;*/
/*    padding-top: 10px;*/
/*    display: grid;*/
/*    grid-template-rows: minmax(2em, auto);*/
/*}*/

/*#content{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    text-align: center;*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*}*/

/*#info{*/
/*    margin: auto;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*}*/

/*#headers{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    text-align: center;*/
/*}*/