{% extends 'layout.html' %}

{% block content %}
    <div class="grid">
    {% for question in questions %}
        <div id="content">
            <div id="title">
                <h2><a href="question/{{ question.id }}">{{ question.title }}</a></h2>
            </div>
            <div id="info">
                <div>
                    <p> {{ question.submission_time }} </p>
                </div>
                <div>
                    <p> &#x1f44d; {{ question.vote_number }}</p>
                </div>
                <div>
                    <p> &#x1f441; {{ question.view_number }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}